body {
  background-image: url('./assets/valley.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, rgb(20, 23, 33) 0%, rgb(20, 23, 33) 50%, rgba(20, 23, 33, 0.8) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 80%;
  max-width: 350px;
  padding: 1em;
}

.form-title {
  font-size: 42px;
  font-family: 'Avenir';
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #e8e8e8;
  margin-bottom: 0.5em;
}

.form-subtitle {
  font-size: 18px;
  font-family: 'Avenir';
  letter-spacing: 0.5px;
  color: #afafaf;
  margin-bottom: 1em;
}

.auth-section {
  position: relative;
  margin-bottom: 12px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5em;
}

.auth-label {
  position: absolute;
  top: 16px; /* Adjusted the top property */
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
}

.auth-input {
  background-color: #3e404b;
  color: white;
  font-family: 'Avenir';
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 36px 18px 18px 18px; /* Adjusted the padding */
  width: calc(100% - 18px - 18px);
  margin-bottom: 0.5em;
}

.auth-button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #fa541c;
  border: none;
  border-radius: 8px;
  font-family: 'Avenir';
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-button:hover {
  filter: brightness(145%);
}

.chat-wrapper {
  height: 80vh;
  width: 80%;
  margin-left: 10%;
  color: white;
  background: rgb(43, 47, 60);
}
